@charset "UTF-8";
.contentImage, .contentImage img, #myCarousel{
	width:800px !important;
	height:450px !important;
}
/* 이 아래는 로고 css가 깨져서 다시 넣음 : header.css 일부 긁음*/
.logo{
    padding-top: 6px;
    margin-top: 1px;
}

.imgContents{
	margin-bottom:10px;
}

.contentImage img{
	cursor:pointer;
}

.carousel-indicators li{
	margin-left:5px;
	margin-right:5px;
	background-color:#565656;
	border:1px solid #565656;
	border-radius: 25%;
}

.carousel-indicators .active{
	margin-left:5px !important;
	margin-right:5px !important;
	background-color:#bcbcbc !important;
	border:1px solid #bcbcbc !important;
	border-radius: 100% !important;
}

.carousel-index{
	background-color:rgb(89, 86, 86, 0.75);
	color:white;
	font-size: 16px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
	z-index: 1000000;
}

.header_btn_icon.favorite{
	background:#f2a304 !important;
}

.no_image{
	cursor:default !important;
}

.spot_addr, .spot_homepage, .spot_tel{
	/*background:url('/planner/resources/images/city/addr_icon.png') no-repeat;*/
	font-size:13px;
	color:#808080;
	padding-left:15px;
	height:auto;
	line-height:15px;
	margin-top:8px;
	margin-bottom:12px;
}

.center{
	text-align:center !important;
}

.inline_block{
	display:inline-block !important;
}

.inline_table{
	display:inline-table !important;
}

.content-wrap{
	margin-left:15px;
}

.justify{
	text-align:justify !important;
}