<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
		<!-- <setting name="mapUnderscoreToCamelCase" value="true"/> -->
	</settings>
	<typeAliases>
		<typeAlias type="com.kh.planner.member.model.vo.Member" alias="Member"/>
		<typeAlias type="com.kh.planner.review.model.vo.Review" alias="Review"/>
	</typeAliases>
	<mappers>
		<mapper resource="mybatis/sql/memberMapper.xml" />
		<mapper resource="mybatis/sql/favoriteMapper.xml" />
		<mapper resource="mybatis/sql/reviewMapper.xml" />
		<!-- <mapper resource="mybatis/sql/planMapper.xml"/>
        <mapper resource="mybatis/sql/planHotelMapper.xml"/> -->
	</mappers>
</configuration>


















