<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MemberMapper">
	<select id="selectMemberId" parameterType="Member" resultType="Member">
		SELECT USERNO, USERID, PASSWORD, USERNAME, GENDER, EMAIL, TO_CHAR(BIRTHDAY, 'YYYY/MM/DD') AS BIRTHDAY, PROFILEPIC, ENROLLDATE, REVIEWYN
		FROM MEMBER
		WHERE USERID = #{userId}
	</select>
	<insert id="insertMember" parameterType="Member">
		INSERT INTO MEMBER(USERNO, USERID, PASSWORD, USERNAME, GENDER, EMAIL, BIRTHDAY, ENROLLDATE, PROFILEPIC)
		VALUES(SEQ_USERNO.NEXTVAL, #{userId}, #{password}, #{userName}, #{gender}, #{email}, TO_DATE(#{birthday}, 'YYYY/MM/DD'), SYSDATE, #{profilePic})
	</insert>
	<update id="updateMember" parameterType="Member">
		UPDATE MEMBER
		SET EMAIL = #{email}, BIRTHDAY = TO_DATE(#{birthday}, 'YYYY/MM/DD'), PROFILEPIC = #{profilePic}
		WHERE USERID = #{userId}
	</update>
	<update id="updatePassword" parameterType="Member" >
		UPDATE MEMBER
		SET PASSWORD = #{password}
		WHERE USERID = #{userId}
	</update>
	<delete id="deleteMember" parameterType="Member">
		DELETE FROM MEMBER
		WHERE USERID = #{userId}
	</delete>
	<select id="selectAdminMemberList" resultType="Member">
		SELECT USERNO, USERID, PASSWORD, USERNAME, GENDER, EMAIL, TO_CHAR(BIRTHDAY, 'YYYY/MM/DD') AS BIRTHDAY, PROFILEPIC, ENROLLDATE,
			NVL((SELECT COUNT(*) FROM REVIEW WHERE WRITER = USERNO AND GRADE = 1),0) AS CNT1,
			NVL((SELECT COUNT(*) FROM REVIEW WHERE WRITER = USERNO AND GRADE = 3),0) AS CNT3,
			NVL((SELECT COUNT(*) FROM REVIEW WHERE WRITER = USERNO AND GRADE = 5),0) AS CNT5,
			REVIEWYN 
		FROM MEMBER
	</select>
	<update id="updateReviewYn" parameterType="Member" >
		UPDATE MEMBER 
		SET REVIEWYN = #{reviewyn}
		WHERE USERNO = #{userNo}
	</update>
	
</mapper>