@charset "UTF-8";
.area{
	text-align:center;
}
.festivalList, .nearList{
	text-align:center;
	display:inline-block;
}

.festivalInfo, .nearInfo{
	display:inline-block;
}

.festivalList > td, .nearList > td{
	width:400px;
	height:450px;
}

.festivalInfo > tr > td:nth-child(2n-1), .nearInfo > tr > th{
	width:50px;
}

.festivalInfo > tr > td:nth-child(2n), .nearInfo > tr > td{
	width:300px;
}

.festivalInfo td, .nearInfo th, .nearInfo td{
	height:40px;
}

.disactive{
	color:gray;
}
.link:hover{
	font-weight: bold;
	text-decoration: underline;
	cursor:pointer;
}

.img{
	width:350px;
	height:350px;
}

.opacity{
	opacity: 0;
}

/*
.img:hover{
	border:2px solid blue;
}
*/

.pageList{
	display:inline-block;
	text-align: center;
}
.pageElement{
	display:inline-block;
	margin:5px;
}

.selected{
	font-weight: bold;
	color:black;
}

.outer{
	text-align: center;
	height: auto;
}
	
.outer div{
	display: inline-block;
}

#resultAmount{
	margin-top:10px;
	margin-botton:10px;
}

.search{
	width:1200px;
	display:inline-table;
	text-align:justify;
}

.searchHead {
	width:100px;
}

#festivalTap{
	font-size:20px;
	border-collapse: collapse;
}

.showing{
	text-decoration: underline;
	font-weight: bold;
}

#festivalTap td{
	width:160px;
	height:40px;
	padding:8px;
	border:1px solid black;
}

#festivalTap td:hover{
	cursor:pointer;
	text-decoration: underline;
	font-weight: bold;
}

#festivalTitle{
	text-align: justify;
	width:1200px;
	height:auto;
	padding:5px;
	font-weight:bold;
	font-size: 25px;
	border-bottom:2px solid black;
}

#favorite{
	padding:5px;
	display:block;
	text-align:center;
	width:100px;
	heigth:auto;
}

#festivalTitle > p{
	align-items:center;
	margin-left: 30px;
	margin-top: 30px;
	margin-bottom: 10px;
}

#festivalDetail{
	width:auto;
}

#festivalDetailInfo{
	margin:10px;
}

#festivalInfo{
	width:1200px;
	height:auto;
	margin-top:10px;
}

#festivalPicture{
	width:560px;
	height:315px;
}

.infoList{
	display: block;
    list-style-type: none;
    margin-top: 1em;
    margin-bottom: 1 em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0px;
}

.tapGroup1{
	width:560px;
	height:315px;
	overflow:scroll;
}

.tapGroup2{
	width:1200px;
	height:auto;
}

.infoTable{
	width:100%;
}

.infoTable th{
	width:15%;
	background-color: gray;
}

.infoTable td{
	width:85%;
	background-color: teal;
}

#festivalMap{
	position:relative;
	overflow:hidden;
}

#map{
	width:560px;
	height:315px;
}

#map img {
	max-width: none;
	height: auto;
	border: 0;
}

.markerContent{
	position:relative;
	bottom:0px;
	float:left;
	border-radius:6px;
	padding:5px;
	width:auto;
	height:auto;
	text-align:center;
	background-color:white;
	border: 1px solid #ccc;
	border-bottom:2px solid #ddd;
	z-index:1;
}
/*
.markerContent:after {
	content:'';
	position:absolute;
	margin-left:-12px;
	left:50%;
	bottom:-12px;
	width:22px;
	height:12px;
	background:url('http://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png');
}
*/
.markerCategory, .markerCategory *{
	margin:0;
	padding:0;
	color:#000;
}   

.markerCategory {
	position:absolute;
	top:10px;
	left:10px;
	width:auto;
	height:50px;
	z-index:10;
	border:1px solid black;
	font-family:'Malgun Gothic','맑은 고딕',sans-serif;
	font-size:12px;
	text-align:center;
	background-color:#fff;
}

.markerCategory .menu_selected {
	background:#2ea0dd;
	color:#fff;
	border-left:1px solid black;
	border-right:1px solid black;
	margin:0 -1px;
} 

.markerMenu{
	float:left;
	width:60px;
	height:48px;
	padding-top:5px;
	cursor:pointer;
} 

.markerCategory .ico_comm{
	display:block;
	margin:0 auto 2px;
	width:22px;
	height:26px;
	/*background:url('http://t1.daumcdn.net/localimg/localimages/07/mapapidoc/category.png') no-repeat;*/
} 
/*
.markerCategory .ico_festival {
	background-position:-10px 0;
}  

.markerCategory .ico_hotels {
	background-position:-10px -36px;
}   

.markerCategory .ico_restaurants {
	background-position:-10px -72px;
}
*/